body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'Poppins', sans-serif;
  font-size: 5.75rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 9.2rem;
}
.display-2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 3.2rem;
}
.display-4 {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 4.6rem;
    font-size: calc( 2.6625rem + (5.75 - 2.6625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.6625rem + (5.75 - 2.6625) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #f98012 !important;
}
.bg-success {
  background-color: #fcc089 !important;
}
.bg-info {
  background-color: #232323 !important;
}
.bg-warning {
  background-color: #f5f5f5 !important;
}
.bg-danger {
  background-color: #316b89 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #f98012 !important;
  border-color: #f98012 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #ba5b05 !important;
  border-color: #ba5b05 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #ba5b05 !important;
  border-color: #ba5b05 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #194866 !important;
  border-color: #194866 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #0a1d29 !important;
  border-color: #0a1d29 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #0a1d29 !important;
  border-color: #0a1d29 !important;
}
.btn-info,
.btn-info:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-success,
.btn-success:active {
  background-color: #fcc089 !important;
  border-color: #fcc089 !important;
  color: #834003 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #834003 !important;
  background-color: #fa983e !important;
  border-color: #fa983e !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #834003 !important;
  background-color: #fa983e !important;
  border-color: #fa983e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #f5f5f5 !important;
  border-color: #f5f5f5 !important;
  color: #767676 !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #767676 !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #767676 !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #316b89 !important;
  border-color: #316b89 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #1d3f51 !important;
  border-color: #1d3f51 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #1d3f51 !important;
  border-color: #1d3f51 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #a14f04;
  color: #a14f04;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #f98012;
  border-color: #f98012;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #f98012 !important;
  border-color: #f98012 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #050e14;
  color: #050e14;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #194866;
  border-color: #194866;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #194866 !important;
  border-color: #194866 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #232323;
  border-color: #232323;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #f98b26;
  color: #f98b26;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #834003;
  background-color: #fcc089;
  border-color: #fcc089;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #834003 !important;
  background-color: #fcc089 !important;
  border-color: #fcc089 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #c2c2c2;
  color: #c2c2c2;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #767676;
  background-color: #f5f5f5;
  border-color: #f5f5f5;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #767676 !important;
  background-color: #f5f5f5 !important;
  border-color: #f5f5f5 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #16303e;
  color: #16303e;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #316b89;
  border-color: #316b89;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #316b89 !important;
  border-color: #316b89 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #f98012 !important;
}
.text-secondary {
  color: #194866 !important;
}
.text-success {
  color: #fcc089 !important;
}
.text-info {
  color: #232323 !important;
}
.text-warning {
  color: #f5f5f5 !important;
}
.text-danger {
  color: #316b89 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #a14f04 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #050e14 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #f98b26 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #000000 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #c2c2c2 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #16303e !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #232323;
}
.alert-warning {
  background-color: #f5f5f5;
}
.alert-danger {
  background-color: #316b89;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #f98012;
  border-color: #f98012;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #f98012;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #feebd9;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #d5d5d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #6eaccb;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.form-control {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #f98012;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #f98012;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #f98012;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #f98012;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #f98012;
  border-bottom-color: #f98012;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #f98012 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #194866 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23f98012' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-u37Av4bpLL .navbar {
  padding: .5rem 0;
  background: #232323;
  transition: none;
  min-height: 77px;
}
.cid-u37Av4bpLL .navbar-dropdown.bg-color.transparent.opened {
  background: #232323;
}
.cid-u37Av4bpLL a {
  font-style: normal;
}
.cid-u37Av4bpLL .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-u37Av4bpLL .nav-item a {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-u37Av4bpLL .nav-item:focus,
.cid-u37Av4bpLL .nav-link:focus {
  outline: none;
}
.cid-u37Av4bpLL .btn {
  padding: 0.4rem 1.5rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-u37Av4bpLL .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-u37Av4bpLL .menu-logo {
  margin-right: auto;
}
.cid-u37Av4bpLL .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-u37Av4bpLL .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-u37Av4bpLL .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-u37Av4bpLL .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-u37Av4bpLL .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-u37Av4bpLL .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-u37Av4bpLL .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-u37Av4bpLL .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-u37Av4bpLL .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-u37Av4bpLL .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-u37Av4bpLL .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-u37Av4bpLL .dropdown .dropdown-menu {
  background: #232323;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-u37Av4bpLL .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-u37Av4bpLL .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-u37Av4bpLL .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-u37Av4bpLL .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-u37Av4bpLL .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-u37Av4bpLL .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-u37Av4bpLL .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-u37Av4bpLL .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-u37Av4bpLL .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-u37Av4bpLL .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-u37Av4bpLL .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-u37Av4bpLL button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-u37Av4bpLL button.navbar-toggler:focus {
  outline: none;
}
.cid-u37Av4bpLL button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-u37Av4bpLL button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-u37Av4bpLL button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-u37Av4bpLL button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-u37Av4bpLL button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-u37Av4bpLL nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-u37Av4bpLL nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-u37Av4bpLL nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-u37Av4bpLL nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-u37Av4bpLL .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-u37Av4bpLL .collapsed .btn {
  display: -webkit-flex;
}
.cid-u37Av4bpLL .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-u37Av4bpLL .collapsed .navbar-collapse.collapsing,
.cid-u37Av4bpLL .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-u37Av4bpLL .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-u37Av4bpLL .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-u37Av4bpLL .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-u37Av4bpLL .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-u37Av4bpLL .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
.cid-u37Av4bpLL .collapsed .navbar-collapse.show .navbar-nav .nav-item:last-child {
  margin-bottom: 1rem;
}
.cid-u37Av4bpLL .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-u37Av4bpLL .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-u37Av4bpLL .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-u37Av4bpLL .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  .cid-u37Av4bpLL .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 6.5rem);
  }
}
.cid-u37Av4bpLL .collapsed button.navbar-toggler {
  display: block;
}
.cid-u37Av4bpLL .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-u37Av4bpLL .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-u37Av4bpLL .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  overflow: hidden;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-u37Av4bpLL .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-u37Av4bpLL .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-u37Av4bpLL .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 1023px) {
  .cid-u37Av4bpLL .navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-u37Av4bpLL img {
    height: 3.8rem !important;
  }
  .cid-u37Av4bpLL .btn {
    display: -webkit-flex;
  }
  .cid-u37Av4bpLL button.navbar-toggler {
    display: block;
  }
  .cid-u37Av4bpLL .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-u37Av4bpLL .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-u37Av4bpLL .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-u37Av4bpLL .navbar-collapse.collapsing,
  .cid-u37Av4bpLL .navbar-collapse.show {
    display: block !important;
  }
  .cid-u37Av4bpLL .navbar-collapse.collapsing .navbar-nav,
  .cid-u37Av4bpLL .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-u37Av4bpLL .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-u37Av4bpLL .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-u37Av4bpLL .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
  .cid-u37Av4bpLL .navbar-collapse.show .navbar-nav .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .cid-u37Av4bpLL .navbar-collapse.collapsing .navbar-buttons,
  .cid-u37Av4bpLL .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-u37Av4bpLL .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-u37Av4bpLL .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-u37Av4bpLL .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    overflow: hidden;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-u37Av4bpLL .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-u37Av4bpLL .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-u37Av4bpLL .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-u37Av4bpLL .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-u37Av4bpLL .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-u37Av4bpLL .nav-link:hover,
.cid-u37Av4bpLL .dropdown-item:hover {
  color: #f98012 !important;
}
.cid-u2GUS0lXjr {
  padding-top: 120px;
  padding-bottom: 75px;
  background-image: url("../../../assets/images/background4.jpg");
}
.cid-uaccWstZ8w {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-uaccWstZ8w .mbr-fallback-image.disabled {
  display: none;
}
.cid-uaccWstZ8w .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-uaccWstZ8w .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-uaccWstZ8w .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-uaccWstZ8w .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-uaccWstZ8w .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-uaccWstZ8w .mbr-section-title {
  color: #000000;
}
.cid-uaccWstZ8w .mbr-text,
.cid-uaccWstZ8w .mbr-section-btn {
  color: #000000;
}
.cid-uaccWPQLZX {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-uaccWPQLZX .mbr-fallback-image.disabled {
  display: none;
}
.cid-uaccWPQLZX .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-uaccWPQLZX .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-uaccWPQLZX .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-uaccWPQLZX .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-uaccWPQLZX .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-uaccWPQLZX .mbr-section-title {
  color: #000000;
}
.cid-uaccWPQLZX .mbr-text,
.cid-uaccWPQLZX .mbr-section-btn {
  color: #000000;
}
.cid-uaccXbh46d {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #efefef;
}
.cid-uaccXbh46d .mbr-section-subtitle {
  color: #232323;
}
.cid-uaccXbh46d H2 {
  color: #194866;
}
.cid-uaccXCrHdE {
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: #efefef;
}
.cid-uaccXCrHdE .card-box {
  background-color: #ffffff;
  padding: 2rem;
}
.cid-uaccXCrHdE h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-uaccXCrHdE p {
  color: #767676;
  text-align: left;
}
.cid-uaccXCrHdE .card-wrapper {
  position: relative;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-uaccXCrHdE .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-uaccXCrHdE .card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.cid-uaccXCrHdE .card-title {
  color: #194866;
}
.cid-ua75Pop9i2 {
  background: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
}
.cid-ua75Pop9i2 .image-block {
  margin: auto;
}
.cid-ua75Pop9i2 figcaption {
  position: relative;
}
.cid-ua75Pop9i2 figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-ua75Pop9i2 .image-block {
    width: 100% !important;
  }
}
.cid-u37Av4bpLL .navbar {
  padding: .5rem 0;
  background: #232323;
  transition: none;
  min-height: 77px;
}
.cid-u37Av4bpLL .navbar-dropdown.bg-color.transparent.opened {
  background: #232323;
}
.cid-u37Av4bpLL a {
  font-style: normal;
}
.cid-u37Av4bpLL .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-u37Av4bpLL .nav-item a {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-u37Av4bpLL .nav-item:focus,
.cid-u37Av4bpLL .nav-link:focus {
  outline: none;
}
.cid-u37Av4bpLL .btn {
  padding: 0.4rem 1.5rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-u37Av4bpLL .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-u37Av4bpLL .menu-logo {
  margin-right: auto;
}
.cid-u37Av4bpLL .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-u37Av4bpLL .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-u37Av4bpLL .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-u37Av4bpLL .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-u37Av4bpLL .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-u37Av4bpLL .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-u37Av4bpLL .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-u37Av4bpLL .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-u37Av4bpLL .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-u37Av4bpLL .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-u37Av4bpLL .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-u37Av4bpLL .dropdown .dropdown-menu {
  background: #232323;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-u37Av4bpLL .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-u37Av4bpLL .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-u37Av4bpLL .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-u37Av4bpLL .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-u37Av4bpLL .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-u37Av4bpLL .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-u37Av4bpLL .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-u37Av4bpLL .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-u37Av4bpLL .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-u37Av4bpLL .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-u37Av4bpLL .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-u37Av4bpLL button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-u37Av4bpLL button.navbar-toggler:focus {
  outline: none;
}
.cid-u37Av4bpLL button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-u37Av4bpLL button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-u37Av4bpLL button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-u37Av4bpLL button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-u37Av4bpLL button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-u37Av4bpLL nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-u37Av4bpLL nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-u37Av4bpLL nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-u37Av4bpLL nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-u37Av4bpLL .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-u37Av4bpLL .collapsed .btn {
  display: -webkit-flex;
}
.cid-u37Av4bpLL .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-u37Av4bpLL .collapsed .navbar-collapse.collapsing,
.cid-u37Av4bpLL .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-u37Av4bpLL .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-u37Av4bpLL .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-u37Av4bpLL .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-u37Av4bpLL .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-u37Av4bpLL .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
.cid-u37Av4bpLL .collapsed .navbar-collapse.show .navbar-nav .nav-item:last-child {
  margin-bottom: 1rem;
}
.cid-u37Av4bpLL .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-u37Av4bpLL .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-u37Av4bpLL .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-u37Av4bpLL .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  .cid-u37Av4bpLL .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 6.5rem);
  }
}
.cid-u37Av4bpLL .collapsed button.navbar-toggler {
  display: block;
}
.cid-u37Av4bpLL .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-u37Av4bpLL .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-u37Av4bpLL .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  overflow: hidden;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-u37Av4bpLL .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-u37Av4bpLL .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-u37Av4bpLL .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 1023px) {
  .cid-u37Av4bpLL .navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-u37Av4bpLL img {
    height: 3.8rem !important;
  }
  .cid-u37Av4bpLL .btn {
    display: -webkit-flex;
  }
  .cid-u37Av4bpLL button.navbar-toggler {
    display: block;
  }
  .cid-u37Av4bpLL .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-u37Av4bpLL .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-u37Av4bpLL .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-u37Av4bpLL .navbar-collapse.collapsing,
  .cid-u37Av4bpLL .navbar-collapse.show {
    display: block !important;
  }
  .cid-u37Av4bpLL .navbar-collapse.collapsing .navbar-nav,
  .cid-u37Av4bpLL .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-u37Av4bpLL .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-u37Av4bpLL .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-u37Av4bpLL .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
  .cid-u37Av4bpLL .navbar-collapse.show .navbar-nav .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .cid-u37Av4bpLL .navbar-collapse.collapsing .navbar-buttons,
  .cid-u37Av4bpLL .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-u37Av4bpLL .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-u37Av4bpLL .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-u37Av4bpLL .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    overflow: hidden;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-u37Av4bpLL .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-u37Av4bpLL .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-u37Av4bpLL .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-u37Av4bpLL .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-u37Av4bpLL .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-u37Av4bpLL .nav-link:hover,
.cid-u37Av4bpLL .dropdown-item:hover {
  color: #f98012 !important;
}
.cid-u31aSCgl2i {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/mbr-1920x1280.jpg");
}
.cid-uqCQRlGtwg {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-uqCQRlGtwg .mbr-fallback-image.disabled {
  display: none;
}
.cid-uqCQRlGtwg .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uqCQRlGtwg .row {
  flex-direction: row-reverse;
}
@media (max-width: 991px) {
  .cid-uqCQRlGtwg .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-uqCQRlGtwg .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-uqCQRlGtwg .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-uqCQRlGtwg .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-uqCQRlGtwg .mbr-section-title {
  color: #000000;
}
.cid-uqCQRlGtwg .mbr-text,
.cid-uqCQRlGtwg .mbr-section-btn {
  color: #000000;
}
.cid-u31bmIcDu2 {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-u31bmIcDu2 h2 {
  text-align: left;
}
.cid-u31bmIcDu2 h4 {
  text-align: left;
  font-weight: 500;
}
.cid-u31bmIcDu2 p {
  color: #767676;
  text-align: left;
}
.cid-u31bmIcDu2 .aside-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-u31bmIcDu2 .block-content {
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  word-break: break-word;
}
.cid-u31bmIcDu2 .media {
  margin: initial;
  align-items: center;
  -webkit-align-items: center;
}
.cid-u31bmIcDu2 .mbr-figure {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.cid-u31bmIcDu2 .card-img {
  padding-right: 2rem;
  width: auto;
}
.cid-u31bmIcDu2 .card-img span {
  font-size: 72px;
  color: #707070;
}
@media (min-width: 992px) {
  .cid-u31bmIcDu2 .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-u31bmIcDu2 .mbr-figure {
    padding-right: 0;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 300px) {
  .cid-u31bmIcDu2 .card-img span {
    font-size: 40px !important;
  }
}
.cid-u31bmIcDu2 H4 {
  color: #f98012;
}
.cid-u31bmIcDu2 P {
  text-align: left;
}
.cid-u31bdVoHP5 {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-u31bdVoHP5 h2 {
  text-align: left;
}
.cid-u31bdVoHP5 h4 {
  text-align: left;
  font-weight: 500;
}
.cid-u31bdVoHP5 p {
  color: #767676;
  text-align: left;
}
.cid-u31bdVoHP5 .aside-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-u31bdVoHP5 .block-content {
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  word-break: break-word;
}
.cid-u31bdVoHP5 .media {
  margin: initial;
  align-items: center;
  -webkit-align-items: center;
}
.cid-u31bdVoHP5 .mbr-figure {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.cid-u31bdVoHP5 .card-img {
  padding-right: 2rem;
  width: auto;
}
.cid-u31bdVoHP5 .card-img span {
  font-size: 72px;
  color: #707070;
}
@media (min-width: 992px) {
  .cid-u31bdVoHP5 .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-u31bdVoHP5 .mbr-figure {
    padding-right: 0;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 300px) {
  .cid-u31bdVoHP5 .card-img span {
    font-size: 40px !important;
  }
}
.cid-u31bdVoHP5 H4 {
  color: #f98012;
}
.cid-u31bnE7oHb {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-u31bnE7oHb h2 {
  text-align: left;
}
.cid-u31bnE7oHb h4 {
  text-align: left;
  font-weight: 500;
}
.cid-u31bnE7oHb p {
  color: #767676;
  text-align: left;
}
.cid-u31bnE7oHb .aside-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-u31bnE7oHb .block-content {
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  word-break: break-word;
}
.cid-u31bnE7oHb .media {
  margin: initial;
  align-items: center;
  -webkit-align-items: center;
}
.cid-u31bnE7oHb .mbr-figure {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.cid-u31bnE7oHb .card-img {
  padding-right: 2rem;
  width: auto;
}
.cid-u31bnE7oHb .card-img span {
  font-size: 72px;
  color: #707070;
}
@media (min-width: 992px) {
  .cid-u31bnE7oHb .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-u31bnE7oHb .mbr-figure {
    padding-right: 0;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 300px) {
  .cid-u31bnE7oHb .card-img span {
    font-size: 40px !important;
  }
}
.cid-u31bnE7oHb H4 {
  color: #f98012;
}
.cid-ua10zvreP0 {
  padding-top: 60px;
  padding-bottom: 15px;
  background-color: #efefef;
}
.cid-ua10zvreP0 .mbr-section-subtitle {
  color: #767676;
}
.cid-ua10zvreP0 H2 {
  color: #194866;
  text-align: center;
}
.cid-u31b1vuzmG {
  padding-top: 0px;
  padding-bottom: 45px;
  background-color: #efefef;
}
.cid-u31b1vuzmG .card-box {
  background-color: #ffffff;
  padding: 2rem;
}
.cid-u31b1vuzmG h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-u31b1vuzmG p {
  color: #767676;
  text-align: left;
}
.cid-u31b1vuzmG .card-wrapper {
  position: relative;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-u31b1vuzmG .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-u31b1vuzmG .card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.cid-u31b1vuzmG .card-title {
  color: #194866;
}
.cid-uac0QdTJnc {
  padding-top: 0px;
  padding-bottom: 45px;
  background-color: #efefef;
}
.cid-uac0QdTJnc .card-box {
  background-color: #ffffff;
  padding: 2rem;
}
.cid-uac0QdTJnc h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-uac0QdTJnc p {
  color: #767676;
  text-align: left;
}
.cid-uac0QdTJnc .card-wrapper {
  position: relative;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-uac0QdTJnc .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-uac0QdTJnc .card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.cid-uac0QdTJnc .card-title {
  color: #194866;
}
.cid-ua1haRFZFH {
  padding-top: 60px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-ua1haRFZFH .mbr-section-subtitle {
  color: #767676;
}
.cid-ua1haRFZFH H2 {
  color: #194866;
}
.cid-ua5V74O3sa {
  padding-top: 45px;
  padding-bottom: 90px;
  background-color: #ffffff;
  overflow: hidden;
  box-sizing: border-box;
}
.cid-ua5V74O3sa .mbr-slider .carousel-control {
  background: #1b1b1b;
}
.cid-ua5V74O3sa .mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-ua5V74O3sa .mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-ua5V74O3sa .mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.cid-ua5V74O3sa .row > .row {
  display: block;
}
.cid-ua5V74O3sa .mbr-gallery-item {
  width: 100%;
}
.cid-ua5V74O3sa .mbr-gallery-item > div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #554346;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
  background: linear-gradient(to left, #554346, #45505b) !important;
}
.cid-ua5V74O3sa .mbr-gallery-item > div {
  position: relative;
}
.cid-ua5V74O3sa .mbr-gallery-item > div:hover .mbr-gallery-title::before {
  background: transparent !important;
}
.cid-ua5V74O3sa .mbr-gallery-item > div:hover:before {
  opacity: 0.5 !important;
}
.cid-ua5V74O3sa .mbr-gallery-title {
  font-size: .9em;
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  color: #fff;
  z-index: 2;
}
.cid-ua5V74O3sa .mbr-gallery-title:before {
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  background: #554346 !important;
  opacity: 0.5;
  -webkit-transition: 0.2s background ease-in-out;
  transition: 0.2s background ease-in-out;
  background: linear-gradient(to left, #554346, #45505b) !important;
}
.cid-ucm0i0U9k0 {
  background: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
}
.cid-ucm0i0U9k0 .image-block {
  margin: auto;
}
.cid-ucm0i0U9k0 figcaption {
  position: relative;
}
.cid-ucm0i0U9k0 figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-ucm0i0U9k0 .image-block {
    width: 100% !important;
  }
}
