body.path-local-notificationsagent h5 i.icon{
    font-size: 1.2rem;
    line-height: initial;
}
body.path-local-notificationsagent #id_remove_condition_button,
body.path-local-notificationsagent #id_remove_exception_button,
body.path-local-notificationsagent #id_remove_action_button,
body.path-local-notificationsagent #fitem_id_remove_condition_button,
body.path-local-notificationsagent #fitem_id_remove_exception_button,
body.path-local-notificationsagent #fitem_id_remove_action_button{
    display: none;
}

body.path-local-notificationsagent h5 > i.icon:first-child{
    margin-left: .5rem;
}

body.path-local-notificationsagent .notificationvars{
    font-size: 15px;
    margin-top: 0.5rem;
    font-style: italic;
}

body.path-local-notificationsagent .notificationvars > a{
    text-decoration: underline;
}

body.path-local-notificationsagent .notificationvars > a:not(:last-child){
    margin-right: .5rem;
}

body.path-local-notificationsagent .mform .form-inline .form-group .custom-select{
    width: 100%;
}
body.path-local-notificationsagent [role="main"] > .d-flex > div.card{
    flex: 0 0 100%;
    margin-bottom: 24px;
}

@media (min-width: 1320px){
    body.path-local-notificationsagent [role="main"] > .d-flex > div.card{
        flex: 0 0 32.222222221%;
        margin-left: 1.666666665%;
    }
    body.path-local-notificationsagent [role="main"] > .d-flex > div.card:nth-child(3n+1){
        margin-left: 0;
    }
}

body.path-local-notificationsagent .card{
    height: 500px;
}

body.path-local-notificationsagent .card.card-template,
body.path-local-notificationsagent .card.card-required{
    background-color: #F3F3F3;
}

body.path-local-notificationsagent .card .name{
    font-weight: 600;
}

body.path-local-notificationsagent .card .card-body{
    overflow-y: auto;
}

body.path-local-notificationsagent .card .card-content{
    flex: 1;
}

body.path-local-notificationsagent .card .conditions-content > span,
body.path-local-notificationsagent .card .exceptions-content > span,
body.path-local-notificationsagent .card .actions-content > span{
    font-size: 18px;
}

body.path-local-notificationsagent .badge{
    font-size: 12px;
    padding: 0.5rem 1rem;
    background-color: #f3f3f3;
    border-radius: 1rem;
    text-transform: capitalize;
}

body.path-local-notificationsagent .badge.badge-template{
    background-color: #FFEFBD;
    color: #8A600D;
}

body.path-local-notificationsagent .badge.badge-rule{
    background-color: #ECF3FD;
    color: #117CDC;
}

body.path-local-notificationsagent .badge.badge-status,
body.path-local-notificationsagent .badge.badge-shared{
    display: flex;
    align-items: center;
}

body.path-local-notificationsagent .badge.badge-status > i{
    font-size: 8px;
}

body.path-local-notificationsagent .badge.badge-shared > i{
    font-size: 11px;
}

body.path-local-notificationsagent .badge.badge-status.badge-active{
    background-color: #d5ffbc;
    color: #089400;
}

body.path-local-notificationsagent .badge.badge-status.badge-paused{
    background-color: #fff1f0;
    color: #d72112;
}

body.path-local-notificationsagent .badge.badge-status.badge-required{
    background-color: #bcc3ff;
    color: #0009e4;
}

body.path-local-notificationsagent .badge.badge-shared{
    background-color: #ffff93;
    color: #7d7d01;
    margin-right: 0.5rem;
}

body.path-local-notificationsagent #assignTemplateModal .modal-dialog{
    max-width: 800px;
}

body.path-local-notificationsagent #assignTemplateModal .course-category-listing{
    cursor: default;
    font-size: 14px;
}

body.path-local-notificationsagent #assignTemplateModal .header-listing{
    border: 1px solid #CED4DA;
    border-radius: 8px 8px 0 0;
    background-color: #F3F3F3;
    color: #92989D;
    font-weight: 700;
}

body.path-local-notificationsagent #assignTemplateModal .header-listing > div{
    padding: 0.75rem 1.25rem;
    border: 1px solid transparent;
}

body.path-local-notificationsagent #assignTemplateModal .category-listing{
    overflow-y: auto;
    max-height: 50vh;
}

body.path-local-notificationsagent #assignTemplateModal .list-group-item{
    padding: 0;
}

body.path-local-notificationsagent #assignTemplateModal .list-group-item > div{
    padding: 0.75rem 1.25rem;
}

body.path-local-notificationsagent #assignTemplateModal .listitem-category.collapsed{
    background-color: #ffffff;
}

body.path-local-notificationsagent #assignTemplateModal .listitem-category.collapsed:hover{
    background-color: #f8f9fa;
}

body.path-local-notificationsagent #assignTemplateModal .listitem-category{
    background-color: #F3F3F3;
}

body.path-local-notificationsagent #assignTemplateModal .listitem-category .list-group-item{
    border-right: 0;
}

body.path-local-notificationsagent #assignTemplateModal .listitem-category .list-group-item:last-child{
    margin-bottom: 1rem;
}

body.path-local-notificationsagent #assignTemplateModal .custom-checkbox .custom-control-label{
    cursor: pointer;
}

body.path-local-notificationsagent #assignTemplateModal .custom-checkbox .custom-control-label::before{
    border-radius: 0.25rem;
}

body.path-local-notificationsagent #assignTemplateModal [data-toggle="collapse"]{
    cursor: pointer;
}

body.path-local-notificationsagent #assignTemplateModal [data-toggle="collapse"][aria-expanded="true"] i.fa-angle-down:before{
    content: "\f106";
}

body.path-local-notificationsagent #fitem_id_availabilityconditionsjson{
    display: none;
}
body.path-local-notificationsagent #fitem_id_availabilityconditionsjson[aria-hidden=false]{
    display: flex !important;
}

body.path-local-notificationsagent #fitem_id_availabilityconditionsjson .availability-header,
body.path-local-notificationsagent #fitem_id_availabilityconditionsjson .availability-eye,
body.path-local-notificationsagent #fitem_id_availabilityconditionsjson #id_availabilityconditionsjson[aria-hidden=true]{
    display: none !important;
}

body.path-local-notificationsagent #fitem_id_availabilityconditionsjson .availability-inner{
    border: 0;
    padding: 0;
    margin: 0;
}

body.path-local-notificationsagent #fitem_id_availabilityconditionsjson .availability-inner .availability-plugincontrols{
    margin-left: 0;
}

body.path-local-notificationsagent .hide-div {
    display:none !important;
}
body.path-local-notificationsagent .show-div {
    display:block !important;
}