{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_notificationsagent/index

    Classes required for JS:
    * none

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * userid The logged in user id
    * urls The URLs for the popover

    Example context (json):
    {}

}}

<div class="d-flex mb-4">
    <button type="button" class="btn btn-outline-primary importtemplate d-block mr-3">{{#str}}import, local_notificationsagent{{/str}}</button>
    <a href="/local/notificationsagent/editrule.php?courseid={{courseid}}&action=add" class="btn btn-outline-primary">{{#str}}editrule_newrule, local_notificationsagent{{/str}}</a></p>
</div>

<div class="d-flex flex-wrap">
    {{#cardscontent}}
        <div id="card-{{{ id }}}" class="card card-{{{ type }}}">
            <div class="card-header bg-transparent mx-3 px-0">
                <span class="badge badge-{{{ type }}}">{{{ type_lang }}}</span>
                <h5 class="name mt-4">{{{ name }}}</h5>
            </div>
            <div class="card-body d-flex flex-column mx-3 px-0">
                <div class="card-content">
                </div>
                <div class="card-assignment d-flex">
                    <a href="/local/notificationsagent/managerule.php?courseid={{courseid}}" class="btn btn-outline-primary">{{#str}}export, local_notificationsagent{{/str}}</a></p>
                    {{#assigntemplatebutton}}
                        <button type="button" class="btn btn-outline-primary d-block ml-auto" data-toggle="modal" data-target="#assignTemplateModal" data-idtemplate="{{{ id }}}">{{{ action }}}</button>
                    {{/assigntemplatebutton}}
                </div>
            </div>
            <div class="card-footer bg-transparent">
            </div>
        </div>
    {{/cardscontent}}
</div>
<div class="modal fade" id="assignTemplateModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title font-weight-bold">Asignar <span></span></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex align-items-center">
                    <span class="badge"></span>
                    <h4 class="name font-weight-bold mb-0"></h4>
                </div>
                <hr/>
                {{{ output_categoriescourses }}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light mb-1 mr-4" data-dismiss="modal">Cancelar</button>
                <button type="button" id="saveassignTemplateModal" class="btn btn-primary mb-1">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>