{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <https://www.gnu.org/licenses/>.
    Project implemented by the \"Recovery, Transformation and Resilience Plan.
    Funded by the European Union - Next GenerationEU\".

    Produced by the UNIMOODLE University Group: Universities of
    Valladolid, Complutense de Madrid, UPV/EHU, León, Salamanca,
    Illes Balears, Valencia, Rey Juan Carlos, La Laguna, Zaragoza, Málaga,
    Córdoba, Extremadura, Vigo, Las Palmas de Gran Canaria y Burgos.

    @package    local_notificationsagent
    @copyright  2023 Proyecto UNIMOODLE
    @author     UNIMOODLE Group (Coordinator) <direccion.area.estrategia.digital@uva.es>
    @author     ISYC <soporte@isyc.com>
    @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
{{!
    @template local_notificationsagent/assign/category_item

    Category of the category and course picker, with its courses and subcategories.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * data-parent, data-category and data-forceselected are used by notification_assigntemplate.

    Context variables required for this template:
    * id - Category id
    * name - Category name, already formatted
    * parentid - Id of the parent category, 0 for top level categories
    * countsubcategoriescourses - Number of courses in the category and its subcategories
    * hascourses - Whether the category has courses
    * courses - Courses with id, name (already formatted) and categoryid
    * categories - Subcategories with the same structure

    Example context (json):
    {
        "id": 1,
        "name": "Category",
        "parentid": 0,
        "countsubcategoriescourses": 1,
        "hascourses": true,
        "courses": [
            {"id": 2, "name": "Course", "categoryid": 1}
        ],
        "categories": []
    }
}}
<li id="listitem-category-{{id}}" class="listitem listitem-category list-group-item list-group-item-action collapsed">
    <div class="category-listing-header d-flex">
        <div class="custom-control custom-checkbox mr-1">
            <input id="checkboxcategory-{{id}}" type="checkbox" class="custom-control-input" data-parent="#category-listing-content-{{parentid}}" data-category="{{id}}">
            <label class="custom-control-label" for="checkboxcategory-{{id}}"></label>
        </div>
        <div class="d-flex px-0" data-toggle="collapse" data-target="#category-listing-content-{{id}}" aria-controls="category-listing-content-{{id}}">
            <div class="categoryname d-flex align-items-center">{{{name}}}<i class="fa fa-angle-down ml-2"></i></div>
        </div>
        <span id="selected-info-{{id}}" class="bg-primary"></span>
        <div class="ml-auto px-0">
            <span class="course-count text-muted">{{countsubcategoriescourses}}<i class="fa fa-graduation-cap fa-fw ml-2"></i></span>
        </div>
    </div>
    <ul id="category-listing-content-{{id}}" class="collapse" data-parent="#category-listing-content-{{parentid}}">
        {{#hascourses}}
            <a href="#" id="select-all-{{id}}" data-category="{{id}}" data-forceselected="false">{{#str}}assignselectcourses, local_notificationsagent{{/str}}</a>
        {{/hascourses}}
        {{#categories}}
            {{> local_notificationsagent/assign/category_item }}
        {{/categories}}
        {{#courses}}
            <li id="listitem-course-{{id}}" class="listitem listitem-course list-group-item list-group-item-action">
                <div class="d-flex">
                    <div class="custom-control custom-checkbox mr-1">
                        <input id="checkboxcourse-{{id}}" type="checkbox" class="custom-control-input" data-parent="#category-listing-content-{{categoryid}}" data-category="{{categoryid}}">
                        <label class="custom-control-label" for="checkboxcourse-{{id}}"></label>
                    </div>
                    <div class="coursename">{{{name}}}</div>
                </div>
            </li>
        {{/courses}}
    </ul>
</li>
