{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <https://www.gnu.org/licenses/>.
    Project implemented by the \"Recovery, Transformation and Resilience Plan.
    Funded by the European Union - Next GenerationEU\".

    Produced by the UNIMOODLE University Group: Universities of
    Valladolid, Complutense de Madrid, UPV/EHU, León, Salamanca,
    Illes Balears, Valencia, Rey Juan Carlos, La Laguna, Zaragoza, Málaga,
    Córdoba, Extremadura, Vigo, Las Palmas de Gran Canaria y Burgos.

    @package    local_notificationsagent
    @copyright  2023 Proyecto UNIMOODLE
    @author     UNIMOODLE Group (Coordinator) <direccion.area.estrategia.digital@uva.es>
    @author     ISYC <soporte@isyc.com>
    @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
{{!
    @template local_notificationsagent/editrule/subplugin_title

    Title of a subplugin in the rule edition form, with the remove icon.

    Classes required for JS:
    * remove-{type}-span is used by the rule edition form to remove the subplugin.

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * id - Subplugin id
    * type - Subplugin type
    * title - Subplugin title

    Example context (json):
    {
        "id": 7,
        "type": "exception",
        "title": "It is weekend"
    }
}}
<h5>{{{title}}}<span class="btn icon fa fa-trash align-top remove-{{type}}-span" id="{{id}}"></span></h5>
