{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
    Project implemented by the \"Recovery, Transformation and Resilience Plan.
    Funded by the European Union - Next GenerationEU\".

    Produced by the UNIMOODLE University Group: Universities of
    Valladolid, Complutense de Madrid, UPV/EHU, León, Salamanca,
    Illes Balears, Valencia, Rey Juan Carlos, La Laguna, Zaragoza, Málaga,
    Córdoba, Extremadura, Vigo, Las Palmas de Gran Canaria y Burgos

    Version details

    @package    local_notificationsagent
    @copyright  2023 Proyecto UNIMOODLE
    @author     UNIMOODLE Group (Coordinator) <direccion.area.estrategia.digital@uva.es>
    @author     ISYC <soporte@isyc.com>
    @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later

}}
{{!
    @template local_notificationsagent/index

    Classes required for JS:
    * none

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * userid The logged in user id
    * urls The URLs for the popover

    Example context (json):
    {}

}}

<div class="d-flex mb-4">
    <button type="button" class="btn btn-outline-primary importtemplate d-block mr-3" data-toggle="modal" data-target="#importTemplateModal">{{#str}}import, local_notificationsagent{{/str}}</button>
    <a href="{{{addruleurl}}}" class="btn btn-outline-primary">{{#str}}editrule_newrule, local_notificationsagent{{/str}}</a>
</div>

<div class="d-flex flex-wrap">
    {{#rulecontent}}
        <div id="card-{{{ id }}}" class="card card-{{{ type }}}">
            <div class="card-header bg-transparent mx-3 px-0">
                <span id="card-type" class="badge badge-{{{ type }}}">{{{ type_lang }}}</span>
                <h5 class="name mt-4">{{{ name }}}</h5>
            </div>
            <div class="card-body d-flex flex-column mx-3 my-2 p-0">
                <div class="card-content">
                    {{#conditions}}
                        {{#hascontent}}
                            <div class="conditions-content">
                                <span class="d-block font-weight-bold mb-1">{{#str}}cardif, local_notificationsagent{{/str}}</span>
                                {{#content}}
                                    <div class="d-flex align-items-center mb-3">
                                        <i class="fa fa-clock-o mr-3"></i>
                                        {{.}}
                                    </div>
                                {{/content}}
                            </div>
                        {{/hascontent}}
                    {{/conditions}}
                    {{#exceptions}}
                        {{#hascontent}}
                            <div class="exceptions-content">
                                <span class="d-block font-weight-bold mb-1">{{#str}}cardunless, local_notificationsagent{{/str}}</span>
                                {{#content}}
                                    <div class="d-flex align-items-center mb-3">
                                        <i class="fa fa-check-square-o mr-3"></i>
                                        {{.}}
                                    </div>
                                {{/content}}
                            </div>
                        {{/hascontent}}
                    {{/exceptions}}
                    {{#actions}}
                        {{#hascontent}}
                            <div class="actions-content">
                                <span class="d-block font-weight-bold mb-1">{{#str}}cardthen, local_notificationsagent{{/str}}</span>
                                {{#content}}
                                    <div class="d-flex align-items-center mb-3">
                                        <i class="fa fa-bell-o mr-3"></i>
                                        {{.}}
                                    </div>
                                {{/content}}
                            </div>
                        {{/hascontent}}
                    {{/actions}}
                </div>
            </div>
            <div class="card-footer bg-transparent">
                <div class="card-assignment d-flex justify-content-between align-items-center">
                    <a data-toggle="modal"{{^ status }} class="d-none" {{/ status }}data-target="#statusRuleModal" data-idrule="{{{ id }}}" data-valuestatus="0" data-textstatus="{{#str}}editrule_activaterule, local_notificationsagent{{/str}}" href="#">
                        <i class="fa fa-play mr-2"></i>{{#str}}editrule_activaterule, local_notificationsagent{{/str}}
                    </a>
                    <a data-toggle="modal"{{# status }} class="d-none" {{/ status }}data-target="#statusRuleModal" data-idrule="{{{ id }}}" data-valuestatus="1" data-textstatus="{{#str}}editrule_pauserule, local_notificationsagent{{/str}}" href="#">
                        <i class="fa fa-pause mr-2"></i>{{#str}}editrule_pauserule, local_notificationsagent{{/str}}
                    </a>
                    <a href="{{{editurl}}}"><i class="fa fa-pencil mr-2"></i>{{#str}}editrule_editrule, local_notificationsagent{{/str}}</a>
                    <a href="{{{exporturl}}}" class="btn btn-outline-primary">{{#str}}export, local_notificationsagent{{/str}}</a>
                    <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#assignTemplateModal" data-idtemplate="{{{ id }}}">{{#str}}assign, local_notificationsagent{{/str}}</button>
                    <a data-toggle="modal"{{^ isrule }} class="d-none" {{/ isrule }}data-target="#deleteRuleModal" data-ruleid="{{{ id }}}" data-value="0" href="#">
                        <i class="fa fa-trash mr-2"></i>{{#str}}editrule_deleterule, local_notificationsagent{{/str}}
                    </a>
                    <a data-toggle="modal"{{# isrule }} class="d-none" {{/ isrule }}data-target="#deleteRuleModal" data-ruleid="{{{ id }}}" data-value="1" href="#">
                        <i class="fa fa-trash mr-2"></i>{{#str}}editrule_deleterule, local_notificationsagent{{/str}}
                    </a>
                </div>
            </div>
        </div>
    {{/rulecontent}}
</div>
<div class="modal fade" id="statusRuleModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title font-weight-bold"></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex align-items-center">
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light mb-1 mr-4" data-dismiss="modal">{{#str}}statuscancel, local_notificationsagent{{/str}}</button>
                <button type="button" id="acceptStatusRule" class="btn btn-primary mb-1">{{#str}}statusaccept, local_notificationsagent{{/str}}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="assignTemplateModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title font-weight-bold">{{#str}}assignassign, local_notificationsagent{{/str}}<span></span></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex align-items-center">
                    <span class="badge"></span>
                    <h4 class="name font-weight-bold mb-0"></h4>
                </div>
                <hr/>
                {{{ output_categoriescourses }}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light mb-1 mr-4" data-dismiss="modal">{{#str}}assigncancel, local_notificationsagent{{/str}}</button>
                <button type="button" id="saveassignTemplateModal" class="btn btn-primary mb-1">{{#str}}assignsave, local_notificationsagent{{/str}}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="importTemplateModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form enctype="multipart/form-data" action="{{{importruleurl}}}" method="POST">
                <div class="modal-header">
                    <h3 class="modal-title font-weight-bold">Importar <span></span></h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- MAX_FILE_SIZE must precede the file input field -->
                    <input type="hidden" name="MAX_FILE_SIZE" value="30000" />
                    <input type="hidden" name="courseid" value="{{courseid}}" />
                    <!-- Name of input element determines name in $_FILES array -->
                    <input name="userfile" type="file" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light mb-1 mr-4" data-dismiss="modal">Cancelar</button>
                    <button type="submit" id="importfileTemplateModal" class="btn btn-primary importtemplate mb-1">{{#str}}import, local_notificationsagent{{/str}}</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteRuleModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title font-weight-bold"></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex align-items-center">
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light mb-1 mr-4" data-dismiss="modal">{{#str}}cancel, moodle{{/str}}</button>
                <button type="button" id="acceptDeleteRule" class="btn btn-primary mb-1">{{#str}}accept, moodle{{/str}}</button>
            </div>
        </div>
    </div>
</div>
